* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}

.main_div{
  width: 50%;
  background-color: #e4e1dd;
  margin: auto;
  height: 80vh;
  margin-top: 5%;
  padding: 5px;
  border-radius: 10px;
}

h1{
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 10px 2px;
}

.main-heading{
  background-color: #e5e8e8;
  width: 80%;
  margin: auto;
  margin-top:5px;
}

.plus{
  margin: 2px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  background-color: #b5bbbf;
  border-radius: 50%;
  width: 27px;
  text-align: center;
}

h3{
  display: inline;
}

.answer{
  width: 80%;
  margin: auto;
  background-color: azure;
  padding: 10px 6px;
}